<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  
  <log4net>
    <root>
    </root>
    <logger name="Log4NetLogger">
      <level value="DEBUG"/>
      <appender-ref ref="rollingFile"/>
    </logger>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message"/>
      </layout>
    </appender>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" type="" value="logs\"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyyMMdd'.txt'"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="ImmediateFlush" value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
        <param name="Header" value=" ----------------------header--------------"/>
        <param name="Footer" value=" ----------------------footer-------------- "/>
      </layout>
    </appender>
  </log4net>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="SimpleWCF.Logic.CalculatorsLogic">
        <endpoint address="" binding="wsHttpBinding" contract="SimpleWCF.Contract.ICalculators"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <!-- Set up the logger we want to use -->
      <register type="Framework.Service.Infrastructure.ILogger, Framework.Service.Infrastructure" mapTo="Framework.Service.Infrastructure.Log4NetLogger, Framework.Service.Infrastructure"/>
    </container>
  </unity>
</configuration>
